@charset: 'UTF-08';

@font-face{
	font-family: jomhuria;
	src: url(../src/font/jomhuria-regular.ttf);
}

:root{
	--darkColor: #333333;
	--specialColor: #1F5100;
	--lightColor: #CCCCCC;
	--mainFont: 'jomhuria';
}

*{
	margin: 0px;
	padding: 0px;
	font-family: var(--mainFont);
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

body{
	background-color: var(--lightColor);
}

header{
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--darkColor);
}

h1{
	font-size: 4em;
	color: var(--lightColor);
}

.MainMenu{
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--darkColor);
}

.MainMenu>a{
	font-size: 1.5em;
	padding: 9px;
	margin: 0px 10px;
	text-align: center;
	color: var(--lightColor);
}

.MainMenu>a:hover{
	background-color: var(--lightColor);
	color: var(--darkColor);
}

main{
	width: 80%;
	margin: 0px auto;
}

ul{
	margin: 30px 0px;
}

ul>li{
	font-size: 1.5em;
	margin: 9px 0px;
	color: var(--darkColor);
}

b{
	color: var(--specialColor);
}

.Title{
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--specialColor);
}

h2{
	font-size: 1.5em;
	color: var(--lightColor);
}

.Document{
	margin: 30px 0px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.Document>a{
	font-size: 1.5em;
	margin-left: 30px;
	color: var(--darkColor);
}

.Document>a:hover{
	color: var(--specialColor);
}


footer{
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--darkColor);
}

p{
	font-size: 1.5em;
	color: var(--lightColor);
}